<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block carrusel %}
{% include "carrusel.html" %}
{% include "conte.html" %}
{% endblock carrusel %}


{% block content %}
{% comment %}
{% if user.is_authenticated %}
Hi {{ user.username }}! {{ user.documento }} {{ user.email }} {{ user.direccion }} {{ user.telefono }}
{% for prestamo in prestamos %}
  {% if prestamo.user.documento == user.documento %}  
    {{ prestamo.libro.titulo }}
    {{ prestamo.fecha_prestamo }}
  {% endif %}
{% endfor %}
<a href="{% url 'logout' %}">logout</a> 
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">login</a> 
<a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endcomment %}
{% endblock %}

{% comment %}
  {% for prestamo in prestamos %}
    {{prestamo.user.documento}}
  {% endfor %}
{% endcomment %}