{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block title %}{{libros.titulo}}{% endblock %}

{% block content %}
<!--Main layout-->
<!--Main layout-->
<main class="mt-5 pt-4">
        <div class="container dark-grey-text mt-5">
    
          <!--Grid row-->
          <div class="row wow fadeIn">
    
            <!--Grid column-->
            <div class="col-md-6 mb-4">
    
              <img src="{{ libros.imagen.url }}" class="img-fluid" alt="">
    
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-6 mb-4">
    
              <!--Content-->
              <div class="p-4">
    
                <p class="lead font-weight-bold">{{ libros.titulo }}</p>
    
                {% for autor in autors %}
                  {% if autor.libro == libros %}
                    <p>Autor: {{ autor.nombre }}</p>
                  {% endif %}
                {% endfor %}

                <p class="grey-text">Descripción: {{ libros.descripción|truncatechars:900 }}</p>
    
                <form class="d-flex justify-content-left">
                  <!-- Default input -->
                  
                  <button class="btn btn-primary btn-md my-0 p" type="submit">Reservar
                    <i class="fas fa-book-open ml-2"></i>
                  </button>
    
                </form>
    
              </div>
              <!--Content-->
    
            </div>
            <!--Grid column-->
    
          </div>
          <!--Grid row-->
    
      </main>
      <!--Main layout-->
{% endblock  %}