    <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <div class="container">
    
          <!-- Brand -->
          <a class="navbar-brand" href="/">
            <strong> <i class="fab fa-python"></i></strong>
          </a>
    
          <!-- Collapse -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <!-- Links -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
            <!-- Left -->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a href="/" class="nav-link">Inicio</a>
              </li>
              <li class="nav-item">
                <a href="/busqueda" class="nav-link">Busqueda</a>
              </li>
              {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a href="/prestamo" class="nav-link">Prestamo</a>
                </li>
                <li class="nav-item">
                    <a href="/devolucion" class="nav-link">Devolucion</a>
                </li>
                <li class="nav-item">
                    <a href="/devolucion" class="nav-link">Reserva</a>
                </li>
                {% endif %}
              {% endif %}
            </ul>
            <!-- test -->
            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a href="/admin" class="nav-link">Administrador</a>
                    </li>
                    {% endif %}
                      <a href="/logout" class="nav-link border border-light rounded">
                        <i class="fab fa-python"></i>Salir
                      </a>
                    {% else %}
                      <a href="/login" class="nav-link border border-light rounded">
                        <i class="fab fa-python"></i>Ingresar
                      </a>
                    {% endif %}
                  </li>
              <li class="nav-item">
                <a href="https://github.com/zebuth95/LibreriaIS.git" class="nav-link border border-light rounded"
                  target="_blank">
                  <i class="fab fa-github mr-2"></i>GitHub
                </a>
              </li>
            </ul>
    
          </div>
    
        </div>
      </nav>
      <!-- Navbar -->