<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Registro{% endblock %}


{% block content %}
<main class="mt-5 pt-5">
  <div class="container justify-content-center mb-9">
  <!-- Default form login -->
      <!-- Material form register -->

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
    <div class="card">

      <h5 class="card-header info-color white-text text-center py-4">
          <strong>Registo</strong>
      </h5>

      <!--Card content-->
      <div class="card-body px-lg-5 pt-5">

          <!-- Form -->
          <form method="post" class="text-center" style="color: #757575;">
            {% csrf_token %}
            {% for field in form %}
            {% if field.errors %}
            <div class="form-row">
                    <div class="col">
                                    <label class="control-label">{{ field.label }} : </label> 
                    </div>
                <div class="col-10">
                            <div class="controls">{{ field }}
                                <span class="help-inline">
                                    {% for error in  field.errors %}{{ error }}{% endfor %}
                                </span>
                            </div>
                    </div>
              </div>
            {% else %}
              <div class="form-row">
                    <div class="col">
                                    <label class="control-label">{{ field.label }} : </label> 
                    </div>
                <div class="col-10">
                                <div class="controls">{{ field }}
                                    {% if field.help_text %}
                                        <p class="help-inline"><small>{{ field.help_text }}</small></p>
                                    {% endif %}
                                </div>
                    </div>
              </div>
              {% endif %}
            {% endfor %}

              <!-- Sign up button -->
              <button class="btn btn-primary btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Registrar</button>

          </form>
          <!-- Form -->
        </div>
    </div>
      </div>
  </div>
</main>
{% endblock  %}